A:link	{ color: blue ; text-decoration: none }
A:visited	{ color: blue ; text-decoration: none }

#bookchoice_container{
  border:1px solid black;
  background-color: white;
  color:black;
  width:500px;
  height:146px;
  overflow: auto;
}

#bookchoice {
  height: 99%;
  width: 99%;
  padding:1%;
  border:none;
  resize:none;
}


#head
{
    border-collapse:collapse;
}

td{
  padding-right: 10px;
  font-family: Helvetica,Helvetica Neue,Arial,sans-serif;
  font-size: 12;
  vertical-align: middle;
}

p.ex {
    height: 236px;
    width: 700px;
}

.button_class {
   background-color: white;
   color:rgb(28,21,87);
   box-shadow: 1px 1px 1px 1px #888888;
   height      : 18px;
   line-height : 18px;
   text-align  : center;
   width       : auto;
   border      : 0px;
   padding-left:10px;
   padding-right:10px;
   min-width:100px;
}

.label_class {
color:rgb(0,0,0);
background-color: white;
font-family: Helvetica,Helvetica Neue,Arial,sans-serif;
font-size:12;
}

.text_class {
  height:22px;
  width:500px;
  background:white;
}

#third-row{
  border-collapse: collapse!important;
  visibility: visible;
}
.checkbox_class{
  color:rgb(28,21,87);
  background-color: white;

  padding: 0;margin:0;vertical-align: bottom;  position: relative;  top: -1px;
}

#select_class {
  color:rgb(28,21,87);
  background-color: white;
  width:130;
  height:25;
}

#options-1{
  background-color: white;
  color:rgb(28,21,87);
  width:120;
  height:15;
  border-collapse: separate;
  border-spacing: 1px 1px;
}

#options-2{
  background-color:rgb(255,255,255);
  color:rgb(0,0,0);
  width:100;
  height:18;
  border-collapse: separate;
  border-spacing: 0px 8px;
}

table.options-1 > tbody > tr:first-child > td:first-child {
    background-color: white;
    color:rgb(28,21,87);
}

#bookchoice_container a {

}

.anchor_class1
{
    background-color:none;
    display:inline-block;
    width:100%;
}

.anchor_class2
{
    display:inline-block;
    width:100%;
    background-color:#4d94ff;

}

.result_anchor_class2
{
	display:inline-block;
    width:100%;
    background-color:#4d94ff;
}

.result_anchor_class1
{
	display:inline-block;
    width:100%;
    background-color:none;
}
