.menu1 { /* boite qui contient le menu (les onglets) */  
   border-bottom:solid 1px grey ;/*  crée le trait noir en-dessous des onglets */  
   padding-top:2px ; /* marge intérieure haute */ 
   padding-bottom:2px; /* marge intérieure basse */     
   }  
 .ongletPub { /* style des liens se trouvant dans un onglet inactif */ 
   background-color: rgb(230,245,255); /* #E7E4E4le fond de l'onglet est gris */   
   /*background : url(onglet.gif) bottom no-repeat ;*/ 
   text-decoration:none; 
   border:solid 1px rgb(190,220,255) ; /* encadrement */ 
   margin:0px 0px 0px 0px ; /* marge extérieure */ 
   padding:0px 0px 0px 0px; 
 }  
 .ongletPro { /* style des onglets inactifs */ 
   background-color: rgb(230,250,230); /* #E7E4E4le fond de l'onglet est gris */   
   text-decoration:none; 
   border:solid 1px rgb(180,230,150) ; /* encadrement */ 
   margin:0px 0px 0px 0px ; /* marge extérieure */ 
   padding:0px 0px 0px 0px; 
 } /* marge intérieure */ 
 .ongletPriv { /* style des onglets inactifs */ 
  background-color: rgb(250,230,230); /*240,130,130240,100,100 #E7E4E4le fond de l'onglet est gris */   
   text-decoration:none; 
   border:solid 1px rgb(240,200,200) ; /* encadrement */ 
   margin:0px 0px 0px 0px ; /* marge extérieure */ 
   padding:0px 0px 0px 0px; 
 } /* marge intérieure */    
 a.onglet { /* style des liens se trouvant dans un onglet inactif */ 
   background-color: rgb(240,240,240); /* #E7E4E4le fond de l'onglet est gris */     
   border:solid 1px rgb(220,220,220); /* encadrement text-decoration:none;*/ 
   margin:0px 0px 0px 0px ; /* marge extérieure */ 
   padding:0px 0px 0px 0px; 
   text-decoration:none; 
 }
body {	font-family: Verdana, Helvetica, sans serif;	font-weight: normal;	color: #000000;	background: white;	font-size: 8pt;	}	
h1 {	font-weight:  normal ;	font-family: Arial;	font-size: 16pt;	color:  #4B575F;	padding: 4px;	margin-top: 0px;	margin-bottom: 0px;	margin-left: 4px;	}	
h2 {	font-family: Verdana, Helvetica, sans serif; 	font-size: 13pt; 	font-weight: normal; 	color: #4B575F; margin-top: 4pt; 	margin-bottom: 2pt; 	margin-left: 0px; 	text-align: left;	padding-top: 5px;	}
h3{	font-family: Verdana, Helvetica, sans serif; 	font-size: 10pt; 	font-weight: bold; 	color: #828B90;   	margin-top: 2pt; 	margin-bottom: 2pt; 	text-align: left;	margin-left: 0px; 	padding-top: 5px;		}
h4{	font-family: Verdana, Helvetica, sans serif;	font-size: 8pt; 	font-weight: bold; 	color:   #828B90;   	margin-top: 2pt; 	margin-bottom: 0pt; 	margin-left: 0px; 	text-align: left;	padding-top: 5px;		}
h5{	font-family: Verdana, Helvetica, sans serif;	font-size: 8pt; 	font-weight: normal; 	color:   #828B90;     	margin-top: 2pt; 	margin-bottom: 0pt; 	margin-left: 0px; 	text-align: left;	padding-top: 5px;		}
code {	color: #976970;  	font-family: Courier New, Courier;	letter-spacing: -0.05em;  	font-size: 9pt;	font-weight: normal;	}
a:link {	color: #1A79B1;	text-decoration: none; 	}  
a:visited  {	color: rgb(100,160,250);	text-decoration: none; 	}
table {	margin-left: 10px; 	margin-bottom: 5px;}
td, th {	padding: 0;}
th {	font-family: Verdana, Helvetica, sans serif; 	font-size: 8pt; 	letter-spacing: -0.05em; 	font-weight: bold;	text-align: left;	color: #4B575F;	background-color: #E0E0E0; 	border:1px solid #FFFFFF; 	height: 20px;	padding: 2px; }
table.fill td {	border: 1px solid #FFFFFF;	background-color: #F2F2F2;	padding: 1px;	color: #000000;}
table.fill ul {	margin-left: 0px;}
dl { 	font-family: Verdana, Helvetica, sans serif; 	font-size: 8pt; 	font-weight: normal;  	margin-right: 35px; 	margin-bottom: 0px; 	margin-left: 10px; 	margin-top: 5px;	}
dt { 	font-family: Verdana, Helvetica, sans serif; 	font-size: 8pt; 	color: #404040;  	font-weight: bold; 	}
dd { 	font-family: Verdana, Helvetica, sans serif; 	font-size: 8pt; 	font-weight: normal;	color: #000000;	margin-bottom: 3px;	margin-left: 30px;	margin-top: 3px;	}
 table {border-collapse: collapse;	margin-top: 5px;	margin-left: 10px;	} 
td {	font-family: Verdana, Helvetica, sans serif; 	font-size: 8pt; 	font-weight: normal;	} 
th {	font-family: Verdana, Helvetica, sans serif; 	font-size: 8pt; 	letter-spacing: -0.05em; 	font-weight: bold;	text-align: left;	color: #4B575F;	background-color: #E0E0E0; 	border:2px solid #FFFFFF; 	height: 20px;	padding: 2px; }
